// Place all the styles related to the solution controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content p{width:90%;padding:5px;}
.content img.solutions{margin:10px 0;}
.content h2{margin-top:30px;}
img.solutions{margin:10px auto;}
.top-img{float:right;margin-left:30px;width:500px;height:490px;margin-top:-50px;}
.spacer{height:10px;width:100%;clear:both;}